*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    color: white;
    
}

#main-body-flex{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: Arial, sans-serif;

}

.white-color {
    color: white;
}


.first-part{
    position: fixed;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-color: #101D3F;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 50px;
    justify-content: center;
}

.second-part{
    width: 60vw;
    height: 100vh;
    background-color: #101D3F;
    margin-left: 40%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    

}

.nav-items a{
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;

}

.nav-items a.active {
    background-color: #55555569;
}

.nav-items a:hover {
    background-color: rgba(245, 245, 245, 0.199);
}

section {
    height: 100vh; /* Make each section fill the viewport height */
    padding: 20px;
    background-color: #101D3F;
    margin-bottom: 20px;
    border-radius: 8px;
}

.logo-edit{
    width: 100vw;
    gap: 100px;
    height: 100;
    
}

.name-header{
    font-size: 65px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.developer {
    font-family: "Amatic SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
}

.description {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#image-edit{
    height:300px;
    width: 300px;
    border-radius: 240px;
    margin-bottom: 20px;
    
}

.image-div{
    margin-left: 200px;
    
}

.second-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    height: 100px;
    align-items: center;

}

.second-items h1 {
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.experience-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px; 
}

.experience-container h1{
    font-size: 35px;
    
}

.experience-items-school{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
}

.experience-items{
    display: flex;
    flex-direction: row;
    column-gap: 500px;
}



.form{
    height: 500px;
}
.form-edit{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

.button-edit{
    height: 50px;
    width: 150px;
    color: black;
    background-color: grey;
}

.your-message{
    height: 150px;
}

.oceanguardpic{
    height: 300px;
    width: 600px;
    
}

.farmpic{
    height: 300px;
    width: 600px;
    
    
}

.header5{
    margin-left: 130px;
}


html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}
